body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #720f0f;
}

ul {
    overflow-y: auto;
}

.navbar {
    float: none;
    margin-bottom: 0px;
}

.navbar-container {
    height: 15%;
    width: 100%;
}

.navbar-header {
    width: 100%;
}

.navbar-brand {
    width: 100%;
    text-align: center;
    font-size: 20pt;
}

.owned-container {
    height: 100%;
    padding-top: 20px;
    background-color: #720f0f;
}

.wanted-container {
    height: 100%;
    padding-top: 20px;
    background-color: #720f0f;
}

.button-container {
    height: 20%;
    padding-top: 20px;
    background-color: #720f0f;
}

.close-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn {
    margin: 0 auto;
}

.navbar-default .navbar-brand {
    color: #c3bfb5;
}

.submit-btn {
    background-color: #222222;
    border-color: #720F0F;
    box-shadow: none;
}

    .submit-btn:hover {
        background-color: #720f0f;
        box-shadow: none;
    }

.add-btn {
    background-color: #222222;
    border: solid 2px;
    border-color: #380808;
    color: #ffffff;
    box-shadow: none;
}

    .add-btn:hover {
        background-color: #380808;
        border-color: #720f0f;
        color: #ffffff;
        box-shadow: none;
    }

.secondary-btn:hover {
    background-color: #720f0f;
    color: #ffffff;
}

.owned-list {
    width: 100%;
    height: 80%;
}

.wanted-list {
    width: 100%;
    height: 80%;
}

.list-container {
    height: 75%;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#ownedMovies {
    width: 100%;
    height: 100%;
    padding-right: 0px;
}

#wantedMovies {
    width: 100%;
    height: 100%;
    padding-right: 0px;
}

ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #222;
}

ul::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    background-color: #222;
}

ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #383838;
}
/* all of this is for the modal login and sign up*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }